<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <form action="" method="post">{% csrf_token %}
        <h3 class="mb-4">Iniciar sesión</h3>
        {% if form.non_field_errors %}
        <p style="color:red">Usuario o contraseña incorrectos, prueba de
            nuevo.</p>
        {% endif %}
        <p>
            <input type="text" name="username" autofocus maxlength="254" required id="id_username" class="form-control"
                placeholder="Nombre de usuario" />
        </p>
        <p>
            <input type="password" name="password" required id="id_password" class="form-control"
                placeholder="Contraseña" />
        </p>
        <p><input type="submit" class="btn btn-primary btn-block" value="Acceder"></p>
    </form>
    <!--Opción de olvido de contraseña-->
    <p><a href="{% url 'password_reset' %}">Olvido su contraseña?</a></p>

</body>

</html>