<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exito!</title>
</head>

<body>
    <h1>La contraseña ha sido cambiada con éxito!</h1>
    <p><a href="{% url 'login' %}">lDesea iniciar sesión nuevamente?</a></p>
</body>

</html>