<!-- contador.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Contador de Visitas</title>
</head>
<body>
    <h1>Contador de Visitas</h1>
    <p>Has visitado esta página {{ contador }} veces.</p>
</body>
</html>
