<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuarios</title>
</head>
<body>
    <h1>Lista de Usuarios</h1>
    <ul id="user-list">
        {% for user in usuarios %}
            <li>{{ user.nombre }}</li>
        {% endfor %}
        <!--
        <li>Juan</li>
        <li>Anna</li>
        <li>Lucia</li>
        -->
    </ul>
</body>
</html>
