<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cerrar Sesion</title>
</head>
<body>
    <h3>Has salido de la sesión!</h3>
    <a href="{% url 'login'%}">Hace clic aca nuevamente para iniciar sesión.</a>
</body>
</html>