<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <h1>Contacto</h1>
    <form action="" method="POST">
        {% csrf_token %} <!-- Agrega el token CSRF si estás usando Django -->
        {{form.as_p}}
        <!--
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br><br>
        -->
        <input type="submit" value="Enviar">
    </form>

    {% if 'ok' in request.GET %}
    <p><b>Su mensaje se envio correctamente</b></p>
    {% endif %}
</body>
</html>