<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuarios</title>
</head>
<body>
    {{usuarios}}
    <h1>Lista de Usuarios</h1>
    {% for usuario in usuarios %}
        <li>{{usuario}}</li>
    {% endfor %}
    <!--<ul>
        <li>Juan</li>
        <li>Anna</li>
        <li>Lucia</li>
        <li>Pedro</li>
    </ul>-->
</body>
</html>