<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tareas</title>
</head>
<body>
<!--
    {% if not request.user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">Acceder</a>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Salir</a>
    </li>
    {% endif %}
-->
    <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">Salir</a>
    </li>
    <h1>Estas son tus tareas:</h1>
    {% if tareas %}
    <ul>
        {% for tarea in tareas %}
        <li>{{tarea.titulo}} - {{tarea.detalle}}</li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No tenes tareas locooo</p>
    {% endif %}

</body>
</html>