<!-- contact/templates/contact/contact.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Contacto</title>
</head>
<body>
    <h1>Contacto</h1>
    <!--
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Enviar">
    </form>
    -->
    <form action="" method="POST">
        {% csrf_token %} <!-- Agrega el token CSRF si estás usando Django -->
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
        <br><br>
        
        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" required>
        <br><br>
        
        <label for="mensaje">Mensaje:</label>
        <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
        <br><br>
        
        <input type="submit" value="Enviar">
    </form>

    {% if 'ok' in request.GET %}
        <p><b>Su mensaje se ha enviado correctamente. En breve nos pondremos en contacto.</b></p>
    {% endif %}

</body>
</html>
